<div class="a">
    <div class="b" *ngIf="isVisible">
        <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
           <label *ngIf="!isVisible" >Product Id </label>
            <input *ngIf="!isVisible" type="text" formControlName="id" disabled>
            <br>
            <label>Category Name </label>
            <input formControlName="name" type="text">
            <br>
            <label>Description </label>
            <input formControlName="description" type="text">
            <br>
            <br><br>
            <button type="submit" [disabled]="!categoryForm.valid" class="btnTbl"> {{mode}} Category </button>
            <br>
        </form> 
    </div>
</div>

<div class="a">
    <div class="b">
        <table *ngIf="items && items.length; else noCategory">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>
                        <button (click)="showCategory()"> Add New {{title}} </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td width="5%">{{item.id}}</td>
                    <td width="20%">{{item.name}}</td>
                    <td width="25%">{{item.description}}</td>
                    <td width="20%">
                        <button class="btnTblUd" (click)="showUpdateForm(item)"> Update </button>
                        <button class="btnTblDel" (click)="deleteCategory(item.id)"> Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noCategory>
            No category available
        </ng-template>
        <br>
    </div>
</div>