nav {
    width: 100%;
    padding: 2%;
    font-size: 1em;
    background-color: #18191a
}

a {
    margin: 2%;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #4d4e4f;
}

div {
    padding: 3%;
    text-align: center;
}